<app-header class="header" 
    (emitDataToAppComponent)="addRoutes($event)" 
    (updateRowData)="updateRow($event)" 
    [currentRouteId]="totalRoutes.length + 1" 
    [updateRouteData]=[updateRouteData]>
</app-header>
<div class="map-list-container">
    <app-list-view class="list-view" 
        (selectedRoutes)="selectedRoutesToDisplay($event)" 
        (emitSelectionStatus)="emitSelectionStatus($event)"
        (deleteRowEvent)="deleteRowEvent($event)"
        (editRowEvent)="editRowEvent($event)">
    </app-list-view>
    <app-map-view class="map-view" [selectedRoutes]="selectedRoutes" [selectionStatus]="selectionStatus"></app-map-view>
</div>